@charset "utf-8";
/* 背景と全体の設定 */
body {
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  z-index: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../a_image/body.jpg) center center / cover no-repeat;
  z-index: -2;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.2); /* ← 明るめに色を抑える */
  z-index: -1;
}

/* 初期化 */
h1,
h3,
p {
  margin: 0px;
  padding: 0px;
}
/* ヘッダー */
header {
  background-color: rgba(177, 210, 12, 0.5);
  margin: 0;
  padding-bottom: 15px;
}

/* パンくずリスト nav内のulを使う前提
nav ul {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav li::after {
  content: "≫";
  color: #999;
}

nav li:last-child::after {
  content: none;
} */

/* ヘッダー内のナビ */
nav {
  width: 100%;
  margin: 0px;
  padding: 5px;
}

nav ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
}
nav a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

nav li:hover {
  background-color: rgba(255, 183, 0, 0.8);
}

nav li {
  width: 120px;
  height: auto;
  padding: 5px;
  text-align: center;
  background: rgb(124, 234, 254);
  border: solid 1px brown;
  transition: 0.2s ease;
}

nav a:visited {
  color: purple;
}

/* メイン */
main {
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
  background-color: rgba(135, 207, 235, 0.6);
}

section {
  padding: 10px;
}

/* 時間ボタン */
button {
  font-weight: bold;
  font-size: 18px;
  background-color: orange;
  width: 45%;
  height: 50px;
}

/* ラジオボタン・チェックボタン */
#Driver input,
#otherTask input {
  display: none; /* 元のラジオボタンは非表示 */
}

#Driver input + label,
#otherTask input + label {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 20px;
  margin: 5px;
  background-color: orange;
  border: 2px solid #333;
  border-radius: 8px;
  cursor: pointer;
}

#Driver input:checked + label,
#otherTask input:checked + label {
  background-color: #9e9b9b;
  color: rgb(255, 0, 204);
}

#submitBnt {
  width: 45%;
}

@media screen and (max-width: 450px) {
}
